<div class="card">
  <div [attr.id]="getHeadingId()" class="card-header">
    <div class="row">
      <div *ngIf="!is_badge" class="col-12 col-sm-3 col-md-3">                  
        <button data-toggle="collapse" aria-expanded="false" [attr.aria-controls]="getCollapseId()" class="btn collapsed" [attr.data-target]="getTargets()"><i class="icon mdi mdi-chevron-right"></i>
          <span [innerHTML]="row_data.name">
          </span>
        </button>
      </div>
      <div *ngIf="!is_badge" class="col-12 col-sm-5 col-md-5">                  
        <app-change-widget [widget_data]="row_data">
        </app-change-widget>
      </div>
      <div *ngIf="is_badge" class="col-12 col-sm-3 col-md-3">
        <button class="btn collapsed" style="cursor: default; margin-left:15px">
          <span [innerHTML]="row_data.name">
          </span>
        </button>
      </div>
      <div *ngIf="is_badge" class="col-12 col-sm-5 col-md-5">                  
        <div style="padding-left:25px; margin-top: 17px;">
          <span _ngcontent-c4="" class="icon-kpi-value badge badge-pill" [innerHTML]="numeral(row_data.current).format('0.a')"></span>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md-2" style="padding-top:0.7em;">
        <kendo-sparkline [data]="chart_data" [chartArea]="chart_area" [seriesColors]="chart_color" type="column">
        </kendo-sparkline>
      </div>
    </div>
  </div>
  <div *ngIf="!is_badge" [attr.id]="getCollapseId()" [attr.aria-labelledby]="getHeadingId()" [attr.data-parent]="getAccordionId()" class="collapse">
    <div class="card-body">

      <kendo-chart>
        <kendo-chart-tooltip format="{0}"></kendo-chart-tooltip>
        <kendo-chart-series>
          <kendo-chart-series-item type="line" [data]="chart_data" [color]="chart_color[0]"></kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>

    </div>
  </div>
  <div *ngIf="chartsInit()"></div>
</div>
