<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle">Blank Page</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li class="divider">Menu</li>
            <li class="active">
              <a [routerLink] = "['/dashboard']"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a>
            </li>
            <li class="parent"><a style="cursor:pointer;"><i class="icon mdi mdi-globe"></i><span>Network</span></a>
              <ul class="sub-menu">
                <li><a [routerLink] = "['/dashboard']">Beijing</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
