<div class="be-left-sidebar">
  <div class="left-sidebar-wrapper"><a class="left-sidebar-toggle">Blank Page</a>
    <div class="left-sidebar-spacer">
      <div class="left-sidebar-scroll">
        <div class="left-sidebar-content">
          <ul class="sidebar-elements">
            <li class="divider">Menu</li>
            <li class="parent"><a><i class="icon mdi mdi-shape"></i><span>Content</span></a>
              <ul class="sub-menu">
                <li><a [routerLink] = "['/dashboard']">{{ subTitle }}</a>
                </li>
              </ul>
            </li>
            <li class="parent"><a><i class="icon mdi mdi-developer-board"></i><span>Admin</span></a>
              <ul class="sub-menu">
                <li><a [routerLink] = "['/admin']">Admin Page</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
