<div class="card">
  <div [attr.id]="data.headingId" class="card-header">
    <div *ngIf="!data.isBadge" class="row">
      <div class="col-12 col-sm-3 col-md-3">                  
        <button data-toggle="collapse" aria-expanded="false" [attr.aria-controls]="data.collapseId" class="btn collapsed" [attr.data-target]="data.targets"><i class="icon mdi mdi-chevron-right"></i>
          <span [innerHTML]="data.name">
          </span>
        </button>
      </div>
      <div class="col-12 col-sm-5 col-md-5">                  
        <div style="padding-left:25px; margin-top: 10px;">
          <span class="number" id="valueA" style="font-size:1.6rem; font-weight:600;" [innerHTML]="numeral(data.current).format('0.0a')"></span>
          <div class="desc" style="font-size:0.9rem;" [style.color]="fontColor(data)">
            <span id="amountChange" [innerHTML]="amountChange(data)"></span>
            <span id="percentageChange" [innerHTML]="percentageChange(data)"></span>
          </div>
        </div>
        <app-arrows-widget [directionUp]="isIncreasing(data.previous, data.current)">
        </app-arrows-widget>
      </div>
      <div class="col-12 col-sm-2 col-md-2">
        <span [attr.id]="data.sparklineId" class="chart sparkline">
        </span>
      </div>
    </div>
    <div *ngIf="data.isBadge" class="row">
      <div class="col-12 col-sm-3 col-md-3">
        <button class="btn collapsed" style="cursor: default; margin-left:15px">
          <span [innerHTML]="data.name">
          </span>
        </button>
      </div>
      <div class="col-12 col-sm-5 col-md-5">                  
        <div style="padding-left:25px; margin-top: 17px;">
          <span _ngcontent-c4="" class="icon-kpi-value badge badge-pill" [innerHTML]="numeral(data.current).format('0.a')"></span>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md-2">
        <span [attr.id]="data.sparklineId" class="chart sparkline">
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="!data.isBadge" [attr.id]="data.collapseId" [attr.aria-labelledby]="data.headingId" data-parent="#accordion" class="collapse">
    <div class="card-body">
      <canvas [attr.id]="data.chartjsId" height="200"></canvas>
    </div>
  </div>
</div>

