<div class="be-content">
  <div class="page-head">
    <h2 class="page-head-title">{{ office_data.name }}</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a [routerLink] = "['/content']">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink] = "['/content']">Network</a></li>
        <li class="breadcrumb-item active">{{ office_data.name }}
        </li>
      </ol>
    </nav>
  </div>
  <div class="main-content container-fluid">  
    <div class="row">
      <div class="col-12 col-lg-6">
        <app-stats-box>
        </app-stats-box>
      </div>
      <div class="col-12 col-lg-6">
        <app-map-widget>
        </app-map-widget>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <app-text-box [title]="'Inventory'">
        </app-text-box>
      </div>
      <div class="col-12 col-lg-6">
        <app-text-box [title]="'Processing Times'">
        </app-text-box>
      </div>
    </div>

    <h2 class="page-head-title">Intake</h2>
    <app-accordion>
    </app-accordion>
  </div>
</div>

