html { font-size: 70%; } 

.icon-kpi {
    padding: 6px;
}

.icon-kpi-value {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.icon-kpi-up {
    color: #57f442;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.icon-kpi-down {
    color: #d4211b;
    font-size: 28px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.icon-kpi-same {
    color: #1e2aca;
}




   

  .arrow-1 {
  
    -webkit-animation: arrow-movement 2s ease-in-out infinite;
  
            animation: arrow-movement 2s ease-in-out infinite;
  
  }
   

  
  /* .arrow:before {
  
    -webkit-transform: rotate(45deg);
  
            transform: rotate(45deg);
  
    -webkit-transform-origin: top left;
  
            transform-origin: top left;
  
  }
  
   
  
  .arrow:after {
  
    -webkit-transform: rotate(-45deg);
  
            transform: rotate(-45deg);
  
    -webkit-transform-origin: top right;
  
            transform-origin: top right;
  
  } */
  
   
  
  @-webkit-keyframes arrow-movement {
  
    0% {
  
      opacity: 0;
  
      top: 45%;
  
    }
  
    70% {
  
      opacity: 1;
  
    }
  
    100% {
  
      opacity: 0;
  
    }
  
  }
  
   
  
  @keyframes arrow-movement {
  
    0% {
  
      opacity: 0;
  
      top: 45%;
  
    }
  
    70% {
  
      opacity: 1;
  
    }
  
    100% {
  
      opacity: 0;
  
    }
  
  }