<div class="be-content">
  <div class="page-head">
    <h2 class="page-head-title">Global</h2>
    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb page-head-nav">
        <li class="breadcrumb-item"><a [routerLink] = "['/network']">Network</a></li>
      </ol>
    </nav>
  </div>
  <div class="main-content container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6">
      </div>
      <div class="col-12 col-lg-6">
        <app-map-widget>
        </app-map-widget>
      </div>
    </div>
  </div>
</div>
