<div class="widget widget-tile">
  <div id="spark1" class="chart sparkline"></div>
  <div class="data-info">
    <div class="desc">Applications</div>
    <span class="value">
      <app-up-arrow *ngIf="content.valueB2 > content.valueB1"></app-up-arrow>
      <app-down-arrow *ngIf="content.valueB2 < content.valueB1"></app-down-arrow>
      <span class="number" [innerHTML]="content.valueB2">0</span>
      <div class="desc" [class.desc-green]="content.valueB2 > content.valueB1" [class.desc-red]="content.valueB2 < content.valueB1">
        <span [innerHTML]="getDifference(content.valueB1, content.valueB2)">0</span><span>,&nbsp;</span>
        <span [innerHTML]="getPercentageChange(content.valueB1, content.valueB2)">0</span><span>%</span>
      </div>
    </span>
  </div>
</div>
